<div class="hero-section-container">
  <div>
    <p class="ultimate-hotel-experience">The Ultimate Hotel Experience</p>
    <h1 class="hero-heading">Discover Your Perfect Getaway Destination</h1>
    <p class="hero-description">
      Unparalleled luxury and comfort await at the world's most exclusive hotels
      and resorts. Start your journey today.
    </p>
    <div class="input-container">
      <div class="label-container">
        <label>Where</label>
        <input
          type="text"
          class="hero-search-input"
          placeholder="Search hotels"
        />
      </div>
      <div class="label-container">
        <label>Check-in</label>
        <input type="date" class="hero-search-input" />
      </div>
      <div class="label-container">
        <label>Check-out</label>
        <input type="date" class="hero-search-input" />
      </div>
      <div class="label-container">
        <label>Guests</label>
        <input type="number" placeholder="0" class="hero-search-input" />
      </div>
      <button class="search-input-button">Search</button>
    </div>
  </div>
</div>
