<div class="filters-container">
  <div class="filters-heading-container">
    <h4 class="filters-heading">Filters</h4>
    <button (click)="clearFilters()" class="filters-clear-button">CLEAR</button>
  </div>
  <div class="popular-filters-container">
    <h1 class="popular-filters-heading">Popular filters</h1>
    <div
      class="popular-filters-card-container"
      *ngFor="let filter of popularFilters"
    >
      <label class="popular-filters-card-label">
        <input
          type="checkbox"
          class=""
          [value]="filter"
          (change)="toggleFilter(filter)"
          [checked]="selectedRoomTypes.includes(filter)"
        />
        {{ filter }}
      </label>
    </div>
    <div class="popular-filters-container">
      <h1 class="popular-filters-heading">Price Range</h1>
      <div
        class="popular-filters-card-container"
        *ngFor="let price of priceRange"
      >
        <label class="popular-filters-card-label">
          <input
            type="checkbox"
            class=""
            [value]="price"
            (change)="togglePrice(price)"
            [checked]="selectedPriceRanges.includes(price)"
          />
          {{ price }}
        </label>
      </div>
    </div>
    <div class="popular-filters-container">
      <h1 class="popular-filters-heading">Sort By</h1>
      <div class="popular-filters-card-container" *ngFor="let sort of sortBy">
        <label class="popular-filters-card-label">
          <input
            type="radio"
            class=""
            name="sortBy"
            [value]="sort"
            [(ngModel)]="selectedSortBy"
            (change)="emitFilteredRooms()"
          />
          {{ sort }}
        </label>
      </div>
    </div>
  </div>
</div>
