<div class="">
  <div class="footer-container">
    <div class="footer-content-container">
      <h1 class="footer-logo">EasyStay</h1>
      <p class="footer-description">
        Discover the world's most extraordinary places to stay, from boutique
        hotels to luxury villas and private islands.
      </p>
    </div>
    <div class="footer-company-container">
      <h2 class="footer-company-heading">COMPANY</h2>
      <ul class="footer-company-ul">
        <li class="footer-company-li">About</li>
        <li class="footer-company-li">Careers</li>
        <li class="footer-company-li">Press</li>
        <li class="footer-company-li">Blog</li>
        <li class="footer-company-li">Partners</li>
      </ul>
    </div>
    <div class="footer-company-container">
      <h2 class="footer-company-heading">SUPPORT</h2>
      <ul class="footer-company-ul">
        <li class="footer-company-li">Help Center</li>
        <li class="footer-company-li">Safety Information</li>
        <li class="footer-company-li">Cancellation Options</li>
        <li class="footer-company-li">Contact Us</li>
        <li class="footer-company-li">Accessibility</li>
      </ul>
    </div>
    <div class="footer-stay-updated">
      <h1 class="footer-stay-updated-heading">STAY UPDATED</h1>
      <p class="footer-stay-updated-descripton">
        Subscribe to our newsletter for travel inspiration and special offers.
      </p>
      <div class="input-email-container">
        <input class="text-inputs" type="text" placeholder="Your Email" />
        <button class="input-email-container-button">Subscribe</button>
      </div>
    </div>
  </div>
  <hr class="footer-hr" />
  <div class="footer-company-copyright">
    <p class="">© 2025 EasyStay. All rights reserved.</p>
    <ul class="copyright-ul">
      <li class="copyright-li">Privacy</li>
      <li class="copyright-li">Terms</li>
      <li class="copyright-li">Sitemap</li>
    </ul>
  </div>
</div>
