<div class="navbar-container">
  <h1 routerLink="/" class="navbar-logo">EasyStay</h1>

  <ul class="navbar-links" [class.active]="menuOpen">
    <li routerLink="/" class="navbar-li" (click)="closeMenu()">Home</li>
    <li routerLink="/rooms" class="navbar-li" (click)="closeMenu()">Hotels</li>
    <li routerLink="/experience" class="navbar-li" (click)="closeMenu()">
      Experiences
    </li>
    <li routerLink="/about" class="navbar-li" (click)="closeMenu()">About</li>
  </ul>

  <button class="navbar-button">Login</button>

  <div class="navbar-toggle" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
