<div class="navbar-container">
  <h1 routerLink="/" class="navbar-logo">EasyStay</h1>

  <ul class="navbar-links" [class.active]="menuOpen">
    <li routerLink="/" class="navbar-li" (click)="closeMenu()">Home</li>
    <li routerLink="/rooms" class="navbar-li" (click)="closeMenu()">Hotels</li>
    <li routerLink="/bookings" class="navbar-li" (click)="closeMenu()">Bookings</li>
    <li routerLink="/experience" class="navbar-li" (click)="closeMenu()">Experiences</li>
    <!-- <li routerLink="/profile" class="navbar-li" (click)="closeMenu()">My Profile</li>
    <a href="https://easystay-admin.vercel.app/" target="_blank" class="admin-panel">Admin Panel</a> -->
  </ul>

  <button class="navbar-button" (click)="logout()">Logout</button>

  <div class="navbar-toggle" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<div class="mobile-menu" [class.show]="menuOpen">
  <button class="close-button" (click)="closeMenu()">✖</button>
  <a routerLink="/" (click)="closeMenu()">Home</a>
  <a routerLink="/rooms" (click)="closeMenu()">Hotels</a>
  <a routerLink="/bookings" (click)="closeMenu()">Bookings</a>
  <a routerLink="/experience" (click)="closeMenu()">Experiences</a>
  <!-- <a routerLink="/profile" (click)="closeMenu()">My Profile</a>
  <a href="https://easystay-admin.vercel.app/" target="_blank" class="admin-panel">Admin Panel</a> -->
  <button class="navbar-button" (click)="logout()">Logout</button>
</div>