<div class="hotel-rooms-total-container">
  <app-filters (filteredRoomsChange)="updateRooms($event)" (onSearchChange)="onSearch($event)"></app-filters>
  <div class="hotel-rooms-container">
    <h1 class="hotel-heading">Hotel Rooms</h1>
    <p class="hotel-description">
      Take advantage of our limited-time offers and special packages to enhance
      your stay and create unforgettable memories.
    </p>

    <h1 class="hotel-rooms-not-available" *ngIf="filteredRooms.length === 0 && !isLoading">
      No Hotels are Available
    </h1>

    <div *ngIf="isLoading" class="loading-container">
      <div class="spinner"></div>
      <p>Loading hotels...</p>
    </div>

    <div *ngIf="!isLoading">
      <div class="hotel-rooms-card-container" *ngFor="let room of filteredRooms; trackBy: trackByRoom"
        [routerLink]="['/rooms', room.id]">
        <div class="hotel-rooms-content-container">
          <img [src]="room.images[0]" alt="Hotel Room" class="image" />
          <div class="hotel-rooms-content-card-container">
            <p class="hotel-rooms-city" *ngIf="room.roomType">
              {{ room.roomType }}
            </p>
            <h2 class="hotel-rooms-name">
              {{ room.hotel_name || "Unnamed Hotel" }}
            </h2>
            <p class="hotel-rooms-address" *ngIf="room.street_address">
              {{ room.street_address }}
            </p>
            <p class="hotel-rooms-amenities">
              Amenities: {{ room.amenities.join(", ") }}
            </p>
            <p class="hotel-rooms-pricepernight">
              ₹{{ room.price_per_night }} / night
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>