.hotel-rooms-total-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 120px 24px 60px;
}

@media (min-width: 1024px) {
  .hotel-rooms-total-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 140px 96px 60px;
  }
}

.hotel-rooms-container {
  flex: 1;
}

.hotel-heading {
  font-size: 36px;
  font-weight: 600;
  font-family: "Playfair Display", serif;
  color: #111827;
  margin-bottom: 8px;
}

.hotel-description {
  font-size: 14px;
  color: #6b7280;
  max-width: 700px;
  line-height: 20px;
}

.hotel-rooms-card-container {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  gap: 24px;
  border-bottom: 1px solid #d1d5db;
  cursor: pointer;
}

.hotel-rooms-content-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 768px) {
  .hotel-rooms-content-container {
    flex-direction: row;
  }
}

.image {
  max-height: 260px;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .image {
    width: 50%;
  }
}

/* .hotel-rooms-content-card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
} */

.hotel-rooms-city {
  font-size: 14px;
  color: #6b7280;
}

.hotel-rooms-name {
  font-size: 24px;
  font-family: "Playfair Display", serif;
  color: #1f2937;
  font-weight: 600;
  cursor: pointer;
}

.hotel-rooms-address {
  font-size: 15px;
  color: #6b7280;
  display: flex;
  align-items: center;
  gap: 4px;
}

.hotel-rooms-amenities {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.hotel-rooms-pricepernight {
  font-size: 20px;
  color: #374151;
  font-weight: 500;
}

.hr-line {
  height: 1px;
  background-color: #d1d5db;
  border: none;
  margin-top: 32px;
}
