<div class="bookings-container">
  <div class="header-section">
    <h1 class="title">My Bookings</h1>
    <p class="subtitle">
      Easily manage your past, current, and upcoming hotel reservations in one
      place. Plan your trips seamlessly with just a few clicks
    </p>
  </div>

  <div class="booking-card" *ngFor="let booking of bookingsData">
    <div class="hotel-info">
      <img [src]="booking.image" alt="Hotel room" class="hotel-image" />
      <div class="hotel-details">
        <h1 class="hotel-name">{{ booking.name }}</h1>
        <p class="hotel-address">{{ booking.address }}</p>
        <p class="hotel-guests">Guests: {{ booking.guest_count }}</p>
        <p class="hotel-price">
          Total Amount: ₹{{booking.totalAmount}}
        </p>
      </div>
    </div>

    <div class="data-payment-container">
      <div class="checkin-info">
        <label class="date-label">Check-In</label>
        <p class="date-text">{{ booking.check_in | date : "mediumDate" }}</p>
      </div>

      <div class="checkout-info">
        <label class="date-label">Check-Out</label>
        <p class="date-text">{{ booking.check_out | date : "mediumDate" }}</p>
      </div>

      <div class="payment-status">

        <p class="payment-success" *ngIf="booking.status === 'Paid'">
          Paid
        </p>

        <p class="payment-cancelled" *ngIf="booking.status === 'Cancelled'">
          Cancelled
        </p>

        <ng-container *ngIf="booking.status === 'pending'">
          <p class="payment-failure">Pending</p>
          <button class="pay-now-button" (click)="makePayment(booking)">
            Pay ₹{{ booking.totalAmount }}
          </button>
          <button (click)="cancelBooking(booking._id)" class="pay-now-button">Cancel Booking</button>
        </ng-container>
      </div>
    </div>
  </div>
</div>